  * {
      padding: 0%;
      margin: 0%;
  }

  body {
      height: 500vh;
  }

  .image {
      width: 100%;
      height: auto;
  }

  .icon {
      width: 1.5vw;
  }

  .video-container {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      background: linear-gradient(to right, rgba(126, 156, 177, 0.5), rgba(127, 98, 165, 0.9));
  }

  .video-bg {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -1;
  }

  .content {
      position: relative;
      z-index: 1;
      padding: 10px;
  }

  /* start of nav */
  .navbar-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: fixed;
      top: 0;
      right: 0;
  }

  .navbar-container.scrolled {
      background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .navbar {
      width: 95%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .navbar-logo-container {
      width: 21%;
      cursor: pointer;
  }

  .navbar-pages {
      width: 21%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }

  .navbar-list {
      width: 53%;
  }

  .links {
      display: flex;
      list-style: none;
      justify-content: space-between;
      color: white;
      font-size: 1.2rem;
      line-height: 2rem;
  }

  .links li,
  .logo {
      cursor: pointer;
  }

  .navbar-pages h3:hover,
  .links li:hover {
      color: #70b9bc;
  }

  .navbar-pages h3 {
      color: white;
      font-size: 1.3rem;
      line-height: 3rem;
      font-weight: 700;
      cursor: pointer;
  }

  .nav-links {
      align-self: self-start;
  }

  .menu {
      display: none;
  }

  .menu-toggle {
      display: none;
  }

  .nav-links {
      display: none;
  }

  /* End of nav */

  /* start of header section */
  .header-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 35vh;
      z-index: -2;
      font-size: 5rem;
      line-height: 1;
      color: white;
      text-align: center;
      font-weight: 700;
  }

  .start-btn {
      background-color: #70b9bc;
      border-radius: 12px;
      padding: 10px 15px;
  }

  .start-btn h3 {
      font-size: 3rem;
      cursor: pointer;

  }

  /* end of header section */

  /* strat of our program section */
  .programs-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      /* height: 80vh; */
      height: 16%;
      color: rgb(78 55 151);
      font-size: 2rem;
      font-weight: 700;
      background-color: #f2f4f7;
  }

  /*  */
  .cards-container {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
  }

  .card {
      display: flex;
      justify-content: flex-start;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      /* width: 30vw; */
      width: 30%;
      font-size: .5rem;
      font-weight: 400;
      color: black;
  }

  .colored-line {
      background-color: #9fd5d9;
      width: 1rem;
      height: 40vh;
  }

  .card-content {
      padding-right: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
  }

  .card-header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
  }

  .card-header h2 {
      font-size: 1.3rem;
      font-weight: 400;
      color: #9fd5d9;
  }


  .card-header h3 {
      font-size: 1.2rem;
      font-weight: bold;
  }


  .card-details {
      display: flex;
      font-size: .7rem;
      font-weight: bold;
  }

  .location {
      padding-left: 10px;
  }

  .location,
  .date,
  .extra-info {
      display: flex;
      align-items: center;
  }

  .card-footer {
      display: flex;
      width: 90%;
      align-items: center;
      font-size: .7rem;
      font-weight: bold;
      justify-content: space-between;
  }

  .card-button {
      border: 1px solid #9fd5d9;
      border-radius: 12px;
      padding: 5px 20px;
      cursor: pointer;
      font-size: .9rem;
      font-weight: 400;
      color: #9fd5d9;
  }

  .card-button:hover {
      background-color: #9fd5d9;
      color: white;
  }

  #diff-bg-color {
      background-color: #c4e3c3;
  }

  #diff-color-and-bg {
      color: #c4e3c3;
      border: 1px solid#c4e3c3;
  }

  #diff-color-and-bg:hover {
      background-color: #c4e3c3;
      color: white;
  }

  #diff-color {
      color: #c4e3c3;
  }

  /*  */

  .uncolored-btu {
      border: 1px solid rgb(127, 98, 165);
      border-radius: 12px;
      padding: 10px 15px;
      cursor: pointer;
  }

  .uncolored-btu:hover {
      background-color: rgb(78 55 151);
      color: white;

  }

  .uncolored-btu h3 {
      font-size: 1.2rem;
      font-weight: 700;
  }

  /* end of our program section */

  /* start of our-numbers section */
  #our-numbers {
      background-color: white;
  }

  .our-number-card {
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      height: 38vh;
      width: 18%;
      display: flex;
      align-items: center;
      flex-direction: column;
  }

  .our-number-card .our-num-circle {
      width: 30%;
      height: 20%;
      border-radius: 50%;
      background-color: #9fd5d9;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateY(-35%);

  }

  .our-number-card .our-num-circle img {
      max-width: 70%;
      max-height: 70%;
  }

  .our-number-card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 100%;
  }

  .card-title {
      font-size: 1.2rem;
      color: #9fd5d9;
      font-weight: 700;
  }

  .card-subtitle {
      color: #7b4baf;
      font-size: 1.5rem;
      font-weight: 700;
  }

  .card-small-title {
      font-size: 1rem;
      color: black;
      font-weight: 400;
  }

  /* end of our-numbers section */

  /* start of activities section */
  #activities {
      background-color: #4c3b90;
      color: white;
      padding-bottom: 10px;
      height: 18%;
  }

  .activities-card {
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      height: 70vh;
      width: 18%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .activities-card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 98%;
      height: 90%;
  }

  .activities-card .activities-icon {
      width: 30%;
      height: 20%;
  }

  .activities-card .activities-icon img {
      max-width: 100%;
      max-height: 100%;
  }

  .activities-card-title {
      font-size: 1.5rem;
      color: #9fd5d9;
      font-weight: bold;
  }

  .activities-card-text {
      color: black;
      font-size: 1.2rem;
      font-weight: 400;
  }

  .activities-btu {
      background-color: #4c3b90;
      border-radius: 12px;
      padding: 10px 15px;
      color: white;
      font-size: 1rem;
      font-weight: bold;
      width: 80%;
      cursor: pointer;
  }

  .activities-btu:hover {
      border: 1px solid #4c3b90;
      color: #4c3b90;
      background-color: white;
  }


  /* start of activities section */
  @media only screen and (max-width: 600px) {
      * {
          padding: 0%;
          margin: 0%;
      }

      body {
          height: 100%;
      }

      .image {
          width: 100%;
          height: auto;
      }


      .video-container {
          position: relative;
          width: 100%;
          height: 100vh;
          overflow: hidden;
      }

      .video-bg {
          position: absolute;
          top: 0;
          left: 0;
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto;
          z-index: -1;
      }

      .content {
          position: relative;
          z-index: 1;
          padding: 10px;
      }

      .navbar-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          position: sticky;
          z-index: 1000;
      }

      .navbar {
          width: 95%;
          display: flex;
          justify-content: space-between;
          align-items: center;
      }

      .navbar-logo-container {
          width: 21%;
      }

      .navbar-list {
          display: none;
      }

      .navbar-pages {
          width: 21%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
      }

      .navbar-pages h3:first-child {
          display: none;
      }

      .navbar-pages h3 {
          color: white;
          font-size: 1rem;
          font-weight: bold;
      }

      .nav-links {
          align-self: self-start;
      }

      .menu {
          display: block;
      }

      .menu-toggle {
          display: none;
      }

      .nav-links {
          display: none;
      }

      #menu-toggle:checked~.nav-links {
          display: block;
      }

  }