  * {
      padding: 0%;
      margin: 0%;
  }

  body {
      height: 500vh;
  }

  .image {
      width: 100%;
      height: auto;
  }

  .icon {
      width: 1.5vw;
  }

  a {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
  }

  .video-container {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      background: linear-gradient(to right, rgba(126, 156, 177, 0.5), rgba(127, 98, 165, 0.9));
  }

  .video-bg {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -1;
  }

  .content {
      position: relative;
      z-index: 1;
      padding: 10px;
  }

  /* start of nav */
  .navbar-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: fixed;
      top: 0;
      right: 0;
  }

  .navbar-container.scrolled {
      background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .navbar {
      width: 95%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .navbar-logo-container {
      width: 21%;
      cursor: pointer;
  }

  .navbar-pages {
      width: 21%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }

  .navbar-list {
      width: 53%;
  }

  .links {
      display: flex;
      list-style: none;
      justify-content: space-between;
      color: white;
      font-size: 1.2rem;
      line-height: 2rem;
  }

  .links li,
  .logo {
      cursor: pointer;
  }

  .navbar-pages h3:hover,
  .links li:hover {
      color: #70b9bc;
  }

  .navbar-pages h3 {
      color: white;
      font-size: 1.3rem;
      line-height: 3rem;
      font-weight: 700;
      cursor: pointer;
  }

  .nav-links {
      align-self: self-start;
  }


  .menu {
      display: none;
      color: white;
  }

  .menu-toggle {
      display: none;
  }

  .nav-links {
      display: none;
  }


  /* End of nav */

  /* start of header section */
  .header-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 35vh;
      z-index: -2;
      font-size: 5rem;
      line-height: 1;
      color: white;
      text-align: center;
      font-weight: 700;
  }

  .start-btn {
      background-color: #70b9bc;
      border-radius: 12px;
      padding: 10px 15px;
  }

  .start-btn h3 {
      font-size: 3rem;
      cursor: pointer;

  }

  /* end of header section */

  /* strat of our program section */
  .programs-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      /* height: 80vh; */
      height: 16%;
      color: rgb(78 55 151);
      font-size: 2rem;
      font-weight: 700;
      background-color: #f2f4f7;
  }

  /*  */
  .cards-container {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      flex-wrap: wrap;
  }

  .card {
      display: flex;
      justify-content: flex-start;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      /* width: 30%; */
      width: calc(100%/4);
      font-size: .5rem;
      font-weight: 400;
      color: black;
  }

  .colored-line {
      background-color: #9fd5d9;
      width: 1rem;
      height: 40vh;
  }

  .card-content {
      padding-right: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
  }

  .card-header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
  }

  .card-header h2 {
      font-size: 1.3rem;
      font-weight: 400;
      color: #9fd5d9;
  }


  .card-header h3 {
      font-size: 1.2rem;
      font-weight: bold;
  }


  .card-details {
      display: flex;
      font-size: .7rem;
      font-weight: bold;
  }

  .location {
      padding-left: 10px;
  }

  .location,
  .date,
  .extra-info {
      display: flex;
      align-items: center;
  }

  .card-footer {
      display: flex;
      width: 90%;
      align-items: center;
      font-size: .7rem;
      font-weight: bold;
      justify-content: space-between;
  }

  .card-button {
      border: 1px solid #9fd5d9;
      border-radius: 12px;
      padding: 5px 20px;
      cursor: pointer;
      font-size: .9rem;
      font-weight: 400;
      color: #9fd5d9;
  }

  .card-button:hover {
      background-color: #9fd5d9;
      color: white;
  }

  #diff-bg-color {
      background-color: #c4e3c3;
  }

  #diff-color-and-bg {
      color: #c4e3c3;
      border: 1px solid#c4e3c3;
  }

  #diff-color-and-bg:hover {
      background-color: #c4e3c3;
      color: white;
  }

  #diff-color {
      color: #c4e3c3;
  }

  /*  */

  .uncolored-btu {
      border: 1px solid rgb(127, 98, 165);
      border-radius: 12px;
      padding: 10px 15px;
      cursor: pointer;
  }

  .uncolored-btu:hover {
      background-color: rgb(78 55 151);
      color: white;

  }

  .uncolored-btu h3 {
      font-size: 1.2rem;
      font-weight: 700;
  }

  /* end of our program section */

  /* start of our-numbers section */
  #our-numbers {
      background-color: white;
  }

  .our-number-card {
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      height: 38vh;
      width: 18%;
      display: flex;
      align-items: center;
      flex-direction: column;
  }

  .our-number-card .our-num-circle {
      width: 30%;
      height: 20%;
      border-radius: 50%;
      background-color: #9fd5d9;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateY(-35%);

  }

  .our-number-card .our-num-circle img {
      max-width: 70%;
      max-height: 70%;
  }

  .our-number-card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 100%;
  }

  .card-title {
      font-size: 1.2rem;
      color: #9fd5d9;
      font-weight: 700;
  }

  .card-subtitle {
      color: #7b4baf;
      font-size: 1.5rem;
      font-weight: 700;
  }

  .card-small-title {
      font-size: 1rem;
      color: black;
      font-weight: 400;
  }

  /* end of our-numbers section */

  /* start of activities section */
  #activities {
      background-color: #4c3b90;
      color: white;
      padding-bottom: 10px;
      height: 18%;
  }

  .activities-card {
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      height: 70vh;
      width: 18%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .activities-card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 98%;
      height: 90%;
  }

  .activities-card .activities-icon {
      width: 30%;
      height: 20%;
  }

  .activities-card .activities-icon img {
      max-width: 100%;
      max-height: 100%;
  }

  .activities-card-title {
      font-size: 1.5rem;
      color: #9fd5d9;
      font-weight: bold;
  }

  .activities-card-text {
      color: black;
      font-size: 1.2rem;
      font-weight: 400;
  }

  .activities-btu {
      background-color: #4c3b90;
      border-radius: 12px;
      padding: 10px 15px;
      color: white;
      font-size: 1rem;
      font-weight: bold;
      width: 80%;
      cursor: pointer;
  }

  .activities-btu:hover {
      border: 1px solid #4c3b90;
      color: #4c3b90;
      background-color: white;
  }

  /* End of activities section */

  /* start of partners section */
  .partners-section {
      width: 100%;
      height: 50vh;
      display: flex;
      align-items: center;
      background-color: #f1f4f6;
  }

  .partners-section-sub {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
  }

  .comp-images-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }

  .comp-image {
      width: calc(80%/4);
  }

  .partners-section-sub h3 {
      color: #4b3892;
      font-size: 1.8rem;
      font-weight: 700;
  }

  /* End of partners section */

  /* start of form section */
  .form-section {
      width: 100%;
      height: 50vh;
      display: flex;
      align-items: center;
      background-color: #75bcc1;
  }

  .form-section-sub {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
  }

  .form-inputs-container {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  }

  .input {
      width: 20%;
      height: 70%
  }

  .input input {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 2%;
      padding: 0px 5px;
  }

  .input input:focus {
      outline: 3px solid #4c3b90;
      ;
  }

  .form-section-sub h3 {
      color: white;
      font-size: 1.8rem;
      font-weight: 700;
  }

  .input-but {
      background-color: #4c3b90;
      border-radius: 12px;
      padding: 10px 15px;
      color: white;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      width: 20%;
      height: 45%;
      text-align: center;
  }

  .input-but:hover {
      background-color: #512082;
  }

  /* End of form section */

  /* start of footer section */
  .footer-section {
      background-color: #4c3b90;
      width: 100%;
      height: 70vh;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 1rem;
  }

  .footer-container {
      width: 93%;
      height: 38vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
  }

  .footer-items-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .footer-item {
      width: 17%;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
  }

  .footer-item-resp {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34%;
  }

  .footer-item-resp div {
      width: 50%;
  }

  .footer-item h4 {
      cursor: pointer;
  }

  .footer-item h4:hover {
      color: #a1d6da;
  }

  .small-logo-container img:hover {
      width: 2vw;
  }

  /* End of footer section */

  @media only screen and (max-width: 600px) {
      * {
          padding: 0%;
          margin: 0%;
      }

      body {
          height: 100%;
      }

      .image {
          width: 100%;
          height: auto;
      }


      .video-container {
          position: relative;
          width: 100%;
          height: 100vh;
          overflow: hidden;
      }

      .video-bg {
          position: absolute;
          top: -229px;
          left: -118%;
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto;
          z-index: -1;
      }

      .content {
          position: relative;
          z-index: 1;
          padding: 10px;
      }

      .navbar-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          position: sticky;
          z-index: 1000;
      }

      .navbar {
          width: 95%;
          display: flex;
          justify-content: space-between;
          align-items: center;
      }

      .navbar-logo-container {
          width: 21%;
      }

      .navbar-list {
          display: none;
      }

      .navbar-pages {
          width: 21%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
      }

      .navbar-pages h3:first-child {
          display: none;
      }

      .navbar-pages h3 {
          color: white;
          font-size: 1rem;
          font-weight: bold;
      }

      .nav-links {
          align-self: self-start;
      }

      .menu {
          display: block;
          color: white;
      }

      .menu-toggle {
          display: none;
      }

      .nav-links {
          display: none;
      }

      #menu-toggle:checked~.nav-links {
          display: flex;
          flex-direction: column;

      }

      #menu-toggle:checked~.nav-links li {
          width: 96vw;
          flex-basis: 28px;
          color: #b3b9c4;
          font-size: 1.2rem;
          font-weight: 400;
      }

      #menu-toggle:checked~.nav-links li:hover {
          background-color: #f5f6fa;
          color: #4b3892;
      }

      #menu-toggle:checked~.nav-links li:last-child {
          border-top: 1px solid #dee0e1;
      }

      .header-container {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 0;
          top: 41vh;
          z-index: -2;
          font-size: 5rem;
          line-height: 1;
          color: white;
          text-align: center;
          font-weight: 700;
      }

      /* strat of mobile our program section */
      .programs-section {
          height: 155vh;
          font-size: 1.5rem;
      }

      .cards-container {
          gap: 20px;
      }

      .card {
          width: 98%;
      }

      .uncolored-btu h3 {
          font-size: 1rem;
          font-weight: 400;
      }

      /* end of mobile our program section */
      /* start of mobile our-numbers section */

      .our-number-card {
          height: 28vh;
          width: 80%;
      }

      /* end of mobile our-numbers section */

      /* start of mobile activities section */
      #activities h3 {
          padding-top: 10px;
      }

      .activities-card {
          border-radius: 20px;
          height: 65vh;
          width: 99%;
      }

      /* End of mobile activities section */


      /* start of mobile partners section */
      .comp-image {
          width: calc(80%/2);
      }

      /* End of mobile partners section */

      /* start of mobile form section */
      .form-section-sub {
          width: 100%;
          height: 80%;
      }

      .form-inputs-container {
          width: 70%;
          height: 70%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
      }

      .input {
          width: 100%;
          height: 70%
      }

      .input input {
          width: 100%;
          height: 74%;
      }

      .form-section-sub h3 {
          font-size: 1.3rem;
      }

      .input-but {
          width: 92%;
      }

      /* End of mobile form section */

      /* start of mobile footer section */
      .footer-container {
          width: 93%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
      }

      .footer-items-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          height: 90%;
      }

      .footer-item-resp {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
      }

      .footer-item {
          width: 40%;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
      }

      #tuwaiqlogo {
          width: 80%;
      }

      .icon {
          width: 5vw;
      }

      .small-logo-container img:hover {
          width: 6vw;
      }

      /* End of mobile footer section */


  }